{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}


{% translate "Wprowadź Nowego Pacjenta." as title %}
{% block container %}
    <div class="card" style="margin: 0 auto; margin-top: 20px; border: 3px red solid; padding: 20px; border-radius:
    20px; margin-bottom: 18px; background-color: white;">

            <h5 class="card-title"><center>{% translate "Utwórz nowego pacjenta" %}</center></h5>

        <div class="card card-body" style="padding: 10px; border-radius: 20px;">
        <form class="form-inline my-2 center" method="post" style="display: flex; align-items: center">
                {% csrf_token %}
                {{ form|crispy }}
                <button
                        type="submit"
                        class="btn btn-success"
                        name="button"
                        value="create_1"
                >
                    {% translate "Stwórz" %}
                </button>
                <button
                        type="submit"
                        class="btn btn-success"
                        name="button"
                        value="create_2"
                >
                    {% translate "Stwórz" %}
                </button>
            </form>
        </div>
    </div>
{% endblock container %}
