#!/usr/bin/env bash
export PROJECT_HOME=`pwd`
export PROJECT=`basename $PROJECT_HOME`
export PATH=$PATH:$PROJECT_HOME:$PROJECT_HOME/scripts

# For correct virtualenvwrapper support
# ~/.direnvrc should contain
# lines below:

#layout_virtualenv() {
#  local venv_path="$1"
#  source ${venv_path}/bin/activate
#}
#layout_virtualenvwrapper() {
#  local venv_path="${WORKON_HOME}/$1"
#  layout_virtualenv $venv_path
#}

# End lines

set -a
for file in [^.]*.env .*.env; do
  if [ -f $file ]; then
    source $file
  fi
done
set +a

if test -f $HOME/.direnvrc; then
  layout virtualenvwrapper $PROJECT
fi
