POSTGRES_DB=covid_cab
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

PORT=8083

CELERY_BROKER_URL=amqp://localhost
DEBUG=1
SECRET_KEY=j23nadaje

TZ=Europe/Warsaw
