{% extends "base.html" %}
{% load i18n %}


{% translate "Wprowadź nowe łóżka." as title %}
{% block container %}
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">{% translate "Wprowadź nowe łóżka." %}</h5>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
                {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
                <button
                        type="submit"
                        class="btn btn-success"
                        name="button"
                        value="create_1"
                >
                    {% translate "Stwórz" %}
                </button>
                <button
                        type="submit"
                        class="btn btn-success"
                        name="button"
                        value="create_2"
                >
                    {% translate "Stwórz" %}
                </button>
            </form>
        </div>
    </div>
{% endblock container %}
